<% include _header %>
<h1>Edit your profile</h1>
<form action="/edit" method="post">
<input name="displayname" type="text" class="form-control" ➥ placeholder="Display name" value="<%= currentUser.displayName || "" %>"> <textarea name="bio" class="form-control" placeholder="Tell us about yourself!">
<%= currentUser.bio || "" %></textarea>
<input type="submit" value="Update" class="btn btn-primary btn-block">
</form>

<ht>
<form method="POST" action="/delete/Velizar">
    <button type="submit" class="btn btn-warning btn-lg">DELETE</button>
</form>

<% include _footer %>
